@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    overflow-y: scroll;
    background: #000c18;
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0ea5e9;
    border-radius: 5px;
  }

  .glow-effect {
    display: inline-block;
    box-shadow: 0 0 8px #0ea5e9, 0 0 8px #0ea5e9, 0 0 8px #0ea5e9, 0 0 8px #0ea5e9;
  }
  