@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  --s: 80px; /* control the size */
  --c1: #0ea4e956;
  --c2: #000c18;

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c1) 0);
  --_p: var(--_s) conic-gradient(at 10% 10%, #0000 75%, var(--c2) 0);
  background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
    calc(-0.05 * var(--s)) calc(-0.05 * var(--s)) / var(--_p),
    calc(0.8 * var(--s)) calc(0.8 * var(--s)) / var(--_g),
    calc(-0.15 * var(--s)) calc(-0.15 * var(--s)) / var(--_g),
    conic-gradient(from 90deg at 0% 0%, var(--c2) 25%, var(--c1) 0) 0 0 /
      var(--s) var(--s);
  animation: m 3s infinite;
}
@keyframes m {
  0% {
    background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
      calc(-0.05 * var(--s)) calc(-0.05 * var(--s)),
      calc(0.8 * var(--s)) calc(0.8 * var(--s)),
      calc(-0.15 * var(--s)) calc(-0.15 * var(--s)), 0 0;
  }
  25% {
    background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
      calc(-1.05 * var(--s)) calc(-0.05 * var(--s)),
      calc(1.8 * var(--s)) calc(0.8 * var(--s)),
      calc(-1.15 * var(--s)) calc(-0.15 * var(--s)), 0 0;
  }
  50% {
    background-position: calc(1.9 * var(--s)) calc(-0.05 * var(--s)),
      calc(-1.05 * var(--s)) calc(0.9 * var(--s)),
      calc(1.8 * var(--s)) calc(-0.15 * var(--s)),
      calc(-1.15 * var(--s)) calc(0.8 * var(--s)), 0 0;
  }
  75% {
    background-position: calc(2.9 * var(--s)) calc(-0.05 * var(--s)),
      calc(-2.05 * var(--s)) calc(0.9 * var(--s)),
      calc(2.8 * var(--s)) calc(-0.15 * var(--s)),
      calc(-2.15 * var(--s)) calc(0.8 * var(--s)), 0 0;
  }
  100% {
    background-position: calc(2.9 * var(--s)) calc(-1.05 * var(--s)),
      calc(-2.05 * var(--s)) calc(1.9 * var(--s)),
      calc(2.8 * var(--s)) calc(-1.15 * var(--s)),
      calc(-2.15 * var(--s)) calc(1.8 * var(--s)), 0 0;
  }
}



body{
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 12, 24, 1);
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0ea5e9;
    border-radius: 5px;
  }

  .glow-effect {
    display: inline-block;
    box-shadow: 0 0 8px #0ea5e9, 0 0 8px #0ea5e9, 0 0 8px #0ea5e9, 0 0 8px #0ea5e9;
  }

/* styles.css */
.squible {
  border: 4px solid #0ea5e9;
  -webkit-animation: squible 3s linear infinite;
  animation: squible 3s linear infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@-webkit-keyframes squible {
  0% {
    border-radius: 60% 70% 80% 90%; /* Initial position */
  }
  25% {
    border-radius: 90% 60% 70% 80%;
  }
  50% {
    border-radius: 80% 90% 60% 70%;
  }
  80% {
    border-radius: 70% 80% 90% 60%;
  }
  100% {
    border-radius: 60% 70% 80% 90%; /* Return to initial position */
  }
}

@keyframes squible {
  0% {
    border-radius: 60% 70% 80% 90%; /* Initial position */
  }
  25% {
    border-radius: 90% 60% 70% 80%;
  }
  50% {
    border-radius: 80% 90% 60% 70%;
  }
  80% {
    border-radius: 70% 80% 90% 60%;
  }
  100% {
    border-radius: 60% 70% 80% 90%; /* Return to initial position */
  }
}

  